#logout {
padding-right: 12px;
color: black;
}

.footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
height: 40px; background-color : rgba( 0,0,0, 0.4);;
color: white;
text-align: center;
/* background-color: rgba(209, 209, 209, 0.6); */

}

body {
/* background-image: url("stock1.jpeg");
   background-repeat: no-repeat;
   background-size: cover; */
    background: rgb(51,67,181);
background: linear-gradient(90deg, rgba(51,67,181,1) 0%, rgba(0,98,230,1) 64%, rgba(51,174,255,1) 100%); 
/* background-color: #17a2b8; */ 
overflow-x: hidden;
overflow-y: auto;
  }
  
 .dropdown-menu{
 background-color: black;
 color: white;
 }
 /* new styles */
 
 
 table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color:white;
    box-shadow: 0 5px 8px 0 rgb(0, 123, 255), 0 9px 26px 0 rgb(2, 12, 21);
    table-layout: fixed; /* will give equal width to each column of the table */
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
h3{
	color:white;
}
/* .header{
	position: fixed;
      
} */