card{
	width:50%;
	background-color:gray;
}
body {
 background: rgb(51,67,181);
background: linear-gradient(90deg, rgba(51,67,181,1) 0%, rgba(0,98,230,1) 64%, rgba(51,174,255,1) 100%); 
/* background-color: #17a2b8; */ 
overflow-x: hidden;
overflow-y: auto;
}
#login-box {
  /* margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA; *//* of login form */
  
  
  padding: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top:5em;
    box-shadow: 0 5px 8px 0 rgb(0, 123, 255), 0 9px 26px 0 rgb(2, 12, 21);
    /* background:rgba(255,255,255,1); */
    background-color: #EAEAEA; /* of registration form */
    border-radius:25px;
}

hr {
    margin-top: -6px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #000;
}


#logout {
padding-right: 12px;
color: black;
}

.footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
height: 40px; background-color : rgba( 0,0,0, 0.4);
color: white;
text-align: center;
/* background-color: rgba(209, 209, 209, 0.6); */

}


  
 .dropdown-menu{
 background-color: black;
 color: white;
 }
 
 #cancel
 {
 float:right;
 }
 .btn-secondary:hover{
	background-color:red;
	color:white;
}
 